.tweets {
    display: flex;
    flex-wrap: wrap;
}

.tweet {
    width: calc(33.33% - 10px); /* Ajustez la largeur selon vos besoins */
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.tweet header {
    display: flex;
    align-items: center;
}

.tweet header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.tweet p {
    margin-top: 10px;
}

/* Appliquer un style au troisième élément de chaque groupe de trois */
.tweet:nth-child(3n) {
    clear: left; /* Passez à la ligne suivante */
}

/*------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    height: 80px;
    display: flex;
    background-color: rgb(250, 250, 181);
    border-bottom: 3px solid black;
    padding-inline: 40px;
    align-items: center;
    gap: 40px;
}

nav img {
    height: 50px;
    flex-shrink: 0;
}

nav ul {
    display: flex;
    gap: 70px;
    list-style: none;
    padding-top: 7.5px;  
    flex-grow: 1;
    background-color: rgb(246, 246, 132);
    justify-content: center;
}

nav button {
    background-color: rgb(248, 145, 104);
    border-style: none;
    padding: 5px;
}

.contenu {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-items: flex-start;
    margin-top: 60px;
    gap: 30px;
}

@media screen and (max-width: 800px) {
    .contenu {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }

    .contenu > div {
        grid-column: 1;

    }
}

.tweets {
    height: 100%;
    grid-column: 1 / 3;
    flex-wrap: wrap;
}

.column1 {
    grid-column: 1 / 2;
    display: inline-block;
    align-items: flex-start;
    background-color: bisque;

}

.column2 {
    grid-column: 2 / 3;
    display: inline-block;
    align-items: flex-start;
    background-color: aquamarine;

}

.tweets > div:nth-child(3n) {
    display: grid;
    background-color: rgba(26, 219, 113, 0.4) !important;

}

.tweets header {
    display: flex;
}

.tweets img {
    clip-path: ellipse(30px 30px);
    height: 60px;
}

.trend {
    background-color: blueviolet;
}